<%- include('partials/header4'); -%> 

  <div class="register">
  <div class="mask d-flex align-items-center  gradient-custom-3">
    <div class="container ">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col-10 col-md-9 col-lg-7 col-xl-7">
          <div class="card" style="border-radius: 50px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-3">START YOUR BLOG </h2>

              <form  action="/register" method="post">


                <div class="form-outline mb-2">
                      <label class="form-label" for="form3Example3cg"> Email</label>
                  <input type="email" placeholder="Enter your Mail" id="form3Example3cg" class="form-control form-control-lg" name="username" />

                </div>

                <div class="form-outline mb-2">
                    <label class="form-label" for="form3Example4cg">Password</label>
                  <input type="password" placeholder="password"  class="form-control form-control-lg"    name="password" />

                </div>
              
              
                <div class="d-flex justify-content-center form-outline mb-2 ">
                  <button type="submit"   class="btn btn-success btn-block  gradient-custom-4 text-body">REGISTER</button>
                </div>
              
                </form>
                  
                      <a class="btn btn-block btn-social-icon btn-google" href="/auth/google" role="button">
                        <i class="fab fa-google "></i>
                        Sign In with Google
                      </a>
                <p class="text-center text-muted mt-3 mb-1" style="font-size:15px">Already a Blogger? <a href="/" class="fw-bold text-body"><u>SIGN IN</u></a></p>
              

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<%- include('partials/footer1'); -%> 
